#page {
    height: 100%;
    width: 100%;
    /* background-image: url('https://image.freepik.com/free-photo/toasted-bread-fresh-fruits-vegetables-ingredients-arranged-table_23-2148026885.jpg');
background-repeat: no-repeat;
background-size: cover; */
}

#resMain {
    height: 131vh;
}

.data {
    text-align: left;
    font-weight: bolder;
    font-size: large;
    color: #c96e77;
    font-family: monospace;
}

.container {
    background-image: url('../img/list-bg.png');
    width: 70%;
    height: 300px;
    background-repeat: no-repeat;
    position: absolute;
    top: 47%;
    margin-left: 255px;
    border-radius: 5px;
}

.res {
    color: #c96e77;
    /* background-color:rgb(253, 234, 209); */
    border: solid 1pt #8a0f1d;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 20px;
    float: left;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 300px;
    height: 127px;
    margin: 10px;
    margin-left: 55px;
    text-align: right;
}

.res h3 {
    text-align: center;
    font-size: larger;
    font-family: monospace;
    /* font-weight: bold; */
}

.diet {
    width: 200px;
    height: 40px;
    color: whitesmoke;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: larger;
    font-family: sans-serif;
    /* float: right; */
    background-color: #97434d;
    margin-left: -45%;
    position: absolute;
    top: 109%;
}

.diet:hover {
    background-color: #d49aa1;
}

.container1 {
    border: solid 1pt #bc9a9a;
    box-sizing: border-box;
    float: left;
    margin: 7%;
    margin-left: 18%;
    width: 69%;
    color: #97434d;
    border-bottom: solid thick #bc9a9a;
    box-shadow: gray;
}

i.asidbtn1.fa.fa-edit {
    margin-left: 10%;
    cursor: pointer;
}

.container1 .asidbtn {
    display: inline-block;
    margin-left: 30px;
}

.prevInf {
    text-align: center;
    font-size: x-large;
    float: left;
    font-family: monospace;
    font-weight: bolder;
    margin-bottom: 30px;
    color: #c96e77;
    border-bottom: 2pt #bc9a9a;
    margin-left: 7%;
    border-radius: 3px;
}

.h1 {
    color: #c96e77;
    margin-bottom: 30px;
    margin-left: 10px;
    text-align: center;
    font-family: monospace;
    border-bottom: solid thick #bc9a9a;
}

.asidbtn {
    width: 100px;
    height: 30px;
    color: whitesmoke;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: large;
    font-family: monospace;
    background-color: #97434d;
    margin-bottom: 20px;
}

#saveB {
    width: 100px;
    height: 30px;
    color: whitesmoke;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: larger;
    font-family: monospace;
    float: right;
    margin-right: 20px;
    background-color: #97434d;
    /* margin-left: 30%;
  position: absolute;
  top: 90% */
    margin-bottom: 20px;
}

.updateForm {
    width: 50px;
    height: 30px;
    /* padding: 12px 20px; */
    /* display: inline-block; */
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    border-radius: 5px;
    font-family: monospace;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: large;
}

.updateForm:hover {
    color: #954f57;
}


/* Pulse Shrink */

@-webkit-keyframes hvr-pulse-shrink {
    to {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }
}

@keyframes hvr-pulse-shrink {
    to {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }
}

.hvr-pulse-shrink {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.hvr-pulse-shrink:hover,
.hvr-pulse-shrink:focus,
.hvr-pulse-shrink:active {
    -webkit-animation-name: hvr-pulse-shrink;
    animation-name: hvr-pulse-shrink;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}
