#page{
    height:100%;
    width: 100%;
    background-image: url('https://www.pinterest.com/pin/734579389205856017/feedback/?invite_code=2d7d95ad9e1243ed874356811b503f75&sender_id=795378121598607437');
  }
  
  #resMain{
    height: 125vh;
  }


.data{
    text-align:left;
    font-weight: bolder;
    font-size: large;
     color: #c96e77;
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
     font-variant: small-caps;
    
     }
.container{
     background-image: url('../img/list-bg.png');
     width:70%;
     height: 300px;
     background-repeat: no-repeat;
    position: absolute;
    top: 20%;
    margin-left: 426px;
  }
.res{
    color: #c96e77;
    /* background-color:rgb(253, 234, 209); */
    border: solid 1pt #8a0f1d;
    box-sizing: border-box;
    border-radius: 5px;
     padding: 20px;
     float: left;
    display: flex;
    flex-wrap: wrap;
      flex-direction:row;
      width: 300px;
      height: 117px;
      margin: 10px;
      margin-left: 55px;
      text-align: right;  
  }
  .res h2{
      text-align: center;
      font-size: larger;
      font-family: 'Courier New', Courier, monospace;
      font-variant: small-caps;
      font-weight: bold;
    
  }

  .diet{
    width: 200px;
    height: 40px;
    color: whitesmoke;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: larger;
    font-family: 'Rajdhani', sans-serif;
    /* float: right; */
    background-color: #97434d;
    margin-left: 30%;
    position: absolute;
    top: 70%;
  }
  .diet:hover{
    background-color: wheat;
  }
.container1
{
  border: solid 1pt #bc9a9a;
    box-sizing: border-box;
    margin: 40px 0px 0px 33px;
    float: left;
    width: 330px;
}
.container1 .asidbtn{
display: inline-block;
margin-left: 30px;
}
  .prevInf{
    text-align: center;
    font-size: larger;
    font-family: 'Courier New', Courier, monospace;
    font-variant: small-caps;
    font-weight: bolder;
    margin-bottom: 30px;
    margin-left: 10px;
    /* display: inline-block; */
    color: #c96e77;
    /* background-color: rgb(253, 234, 209);*/
     
  }
  .h1{
    color: #c96e77;
    margin-bottom: 30px;
    margin-left: 10px;
    text-align: center;

  }
 .asidbtn{
  width: 100px;
  height: 30px;
  color: whitesmoke;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: larger;
  font-family: 'Rajdhani', sans-serif;
  /* float: right; */
  background-color: #97434d;
  /* margin-left: 30%;
  position: absolute;
  top: 90% */
  margin-bottom: 20px;
 }
 #saveB{
  width: 100px;
  height: 30px;
  color: whitesmoke;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: larger;
  font-family: 'Rajdhani', sans-serif;
  /* float: right; */
  background-color: #df80b4;
  /* margin-left: 30%;
  position: absolute;
  top: 90% */
  margin-bottom: 20px;
 }
 