<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/about.css">
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Courgette&display=swap" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" media="all">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&display=swap" rel="stylesheet">
    <%- include('../layout/head') %>

        <title>About Us</title>
</head>

<body>
    <%- include('../layout/header') %>




        <main>
            <h1 id="about-h1"> Meet Our Great Team ... </h1>
            <div id="about" class="about_div">
                <section class="about_div2">
                    <!-- -------------------------------------------Yazan------------------------------------ -->
                    <section class="im2" data-aos="fade-right">
                        <center> <img id="yazan" class="avatar hvr-bounce-in" src="img/IMG_2541.JPG" alt="">
                            <h5 class="names">Yazan Aljamal</h5>
                            <h5 class="hvr-underline-from-center">Front-End Developer</h5>
                            <section>
                                <p id="p_yazan" data-aos="fade-right" class="hide">
                                    i'm 25 years old, studied software engineering at Philadelphia University, graduated in Feb/2019 as the first one in my college. my knowledge before this cours, I'm really enjoying for this experience volunteer for tow years.





                                    <div class="socialPerOne">
                                        <a class="r" href="#"><span class="c">Facebook</span></a>
                                        <a class="r" href="#"><span class="c">Twitter</span></a>
                                        <a class="r" href="#"><span class="c">Google+</span></a>

                                    </div>


                            </section>
                        </center>
                    </section>
                    <!-- -------------------------------------------Obada------------------------------------ -->

                    <section data-aos="fade-right" class="im2">
                        <center><img id="obada" class="avatar hvr-bounce-in" src="img/obada.png" alt="">
                            <h5 class="names">Obada Tumah</h5>
                            <h5 class="hvr-underline-from-center">Back-End Developer</h5>
                            <section data-aos="fade-right">
                                <p id="p_obada" class="hide">My name is Obada Tumah i'm 23 years old i graduated with a major of computer science from Yarmouk University , my main goal is to be a web developer with huge experiances.</p>
                                <div class="socialPerOne">
                                    <a class="r" href="https://github.com/Tumaho" target="_blank"><span class="c">Facebook</span></a>
                                    <a class="r" href="#"><span class="c">Twitter</span></a>
                                    <a class="r" href="https://www.linkedin.com/in/obada19/" target="_blank"><span class="c">Google+</span></a>


                                </div>
                            </section>
                        </center>
                    </section>
            </div>
            <div id="about" class="about_div">
                <!-- -------------------------------------------Ahlam------------------------------------ -->

                <section class="about_div2">

                    <section class="im2" data-aos="fade-right">
                        <center> <img id="ahlam" class="avatar hvr-bounce-in" src="img/ahlam.png" alt="">
                            <h5 class="names">Ahlam Alefishat </h5>
                            <h5 class="hvr-underline-from-center">Back-End Developer</h5>
                            <section>
                                <p id="p_yazan" data-aos="fade-right" class="hide">i'm 24 years old,i studied Computer science at the University of Jordan, graduated in Jan/2020 ,in the mean while i'm having a training at LTUC-Abdul Aziz Al Ghurair School of Advanced Computing as a Full-stack web developer</p>
                                <div class="socialPerOne">
                                    <a class="r" href="https://web.facebook.com/ahlam.alefishat" target="_blank"><span class="c">Facebook</span></a>
                                    <a class="r" href="https://twitter.com/AAlefishat" target="_blank"><span class="c">Twitter</span></a>
                                    <a class="r" href="https://www.linkedin.com/in/ahlam-alefishat/" target="_blank"><span class="c">Google+</span></a>
                                </div>

                            </section>
                        </center>
                    </section>
                    <!-- -------------------------------------------Samah------------------------------------ -->

                    <section data-aos="fade-right" class="im2">

                        <center> <img id="samah" class="avatar hvr-bounce-in" src="img/samah.jpg" alt="">
                            <h5 class="names">Samah Ali Thweib</h5>
                            <h5 class="hvr-underline-from-center">Front-End Developer</h5>
                            <section data-aos="fade-right">
                                <p id="p_obada" class="hide">I'm 24 years old, studied computer engineering at the university of jordan. In this time I am studying a full stack web development at Abdul Aziz Al Ghurair School of Advanced Computing </p>
                                <div class="socialPerOne">
                                    <a class="r" href="https://github.com/samahthwib" target="_blank"><span class="c">Facebook</span></a>
                                    <a class="r" href="#"><span class="c">Twitter</span></a>
                                    <a class="r" href="https://www.linkedin.com/in/samah-thwieb-2413b6178?fbclid=IwAR3CCVWJVKKuPL7QSRRu6qbNlkMeY8dPJf7a70GzDDI5ac_AmE_V94rle6s" target="_blank"><span class="c">Google+</span></a>

                                </div>
                            </section>
                        </center>
                    </section>
            </div>


        </main>
        <footer>
            <%- include('../layout/footer') %>

        </footer>
        <%- include('../layout/js-links') %>
            <script>
                AOS.init();
            </script>
            <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>


</body>

</html>
