<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/about.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet"
        media="all">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

    <%- include('../layout/head') %>

    <title>About Us</title>
</head>

<body>
    <header>
        <%- include('../layout/header') %>

        <div class="header-div">
            <h2 class="hvr-icon-hang" id="a_header"> About Us <i class="fa fa-chevron-down hvr-icon"></i></h2>
        </div>
    </header>
    <main>
        <h1> What we have to say…</h1>
        <div id="about" class="about_div">
            <section class="about_div2">
                <section class="im2">
                    <img id="yazan" class="avatar hvr-bounce-in" src="img/IMG_2541.JPG" alt="">
                    <h5 class="names">Yazan Aljamal</h5>
                    <h5 class="hvr-underline-from-center">Front-End Developer</h5>
                </section>
                <section class="im2">
                    <img id="obada" class="avatar hvr-bounce-in" src="img/obada.png" alt="">
                    <h5 class="names">Obada Tumah</h5>
                    <h5 class="hvr-underline-from-center">Back-End Developer</h5>
                </section>
                <section class="im2">
                    <img id="ahlam" class="avatar hvr-bounce-in" src="img/ahlam.png" alt="">
                    <h5 class="names">Ahlam Alefishat </h5>
                    <h5 class="hvr-underline-from-center">Back-End Developer</h5>
                </section>
                <section class="im2">
                    <img id="samah" class="avatar hvr-bounce-in" src="img/samah.png" alt="">
                    <h5 class="names">Samah Ali Thweib</h5>
                    <h5 class="hvr-underline-from-center">Front-End Developer</h5>
                </section>
            </section>
        </div>
        <section class="about_div2">
            <section>
                <p id="p_yazan" data-aos="fade-down-right" class="hide">i'm 25 years old, studied softwere engenireening
                    at Philadelphia
                    University,
                    graduated in Feb/2019 as
                    the first one in my colege. my knowlege before this cours, I'm really enjoing for this experiance. i
                    volunteer for tow years.</p>
                <div class="bottom">

                    <!-- Social Icons -->
                    <ul class="icons">
                        <li><a href="https://twitter.com/YAljamal" class="icon fa-twitter"><span
                                    class="label">Twitter</span></a></li>
                        <li><a href="https://www.linkedin.com/in/yazan-aljamal-0755aa63/" class="icon fa-linkedin"><span
                                    class="label">LinedIn</span></a></li>
                        <!-- <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li> -->
                        <li><a href="https://github.com/yaljamal" class="icon fa-github"><span
                                    class="label">Github</span></a>
                        </li>
                        <!-- <li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li> -->
                        <!-- <li><a href="#" class="icon fa-envelope"><span class="label">Email</span></a></li> -->
                    </ul>

                </div>
            </section>
            <section>
                <p id="p_obada" class="hide">i'm 25 years old, studied softwere engenireening at Philadelphia
                    University,
                    graduated in Feb/2019 as
                    the first one in my colege. my knowlege before this cours, I'm really enjoing for this experiance. i
                    volunteer for tow years.</p>
                <div class="bottom">

                    <!-- Social Icons -->
                    <ul class="icons">
                        <li><a href="https://twitter.com/YAljamal" class="icon fa-twitter"><span
                                    class="label">Twitter</span></a></li>
                        <li><a href="https://www.linkedin.com/in/yazan-aljamal-0755aa63/" class="icon fa-linkedin"><span
                                    class="label">LinedIn</span></a></li>
                        <!-- <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li> -->
                        <li><a href="https://github.com/Tumaho" class="icon fa-github"><span
                                    class="label">Github</span></a>
                        </li>
                        <!-- <li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li> -->
                        <!-- <li><a href="#" class="icon fa-envelope"><span class="label">Email</span></a></li> -->
                    </ul>

                </div>
            </section>
            <section>
                <p id="p_ahlam" class="hide">i'm 25 years old, studied softwere engenireening at Philadelphia
                    University,
                    graduated in Feb/2019 as
                    the first one in my colege. my knowlege before this cours, I'm really enjoing for this experiance. i
                    volunteer for tow years.</p>
                <div class="bottom">

                    <!-- Social Icons -->
                    <ul class="icons">
                        <li><a href="https://twitter.com/AAlefishat" class="icon fa-twitter"><span
                                    class="label">Twitter</span></a></li>
                        <li><a href="https://www.linkedin.com/in/ahlam-alefishat/" class="icon fa-linkedin"><span
                                    class="label">LinedIn</span></a></li>
                        <!-- <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li> -->
                        <li><a href="https://github.com/ahlamalefishat96" class="icon fa-github"><span
                                    class="label">Github</span></a>
                        </li>
                        <!-- <li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li> -->
                        <!-- <li><a href="#" class="icon fa-envelope"><span class="label">Email</span></a></li> -->
                    </ul>

                </div>
            </section>
            <section>
                <p id="p_samah" class="hide">i'm 25 years old, studied softwere engenireening at Philadelphia
                    University,
                    graduated in Feb/2019 as
                    the first one in my colege. my knowlege before this cours, I'm really enjoing for this experiance. i
                    volunteer for tow years.</p>
                <div class="bottom">

                    <!-- Social Icons -->
                    <ul class="icons">
                        <li><a href="https://twitter.com/YAljamal" class="icon fa-twitter"><span
                                    class="label">Twitter</span></a></li>
                        <li><a href="https://www.linkedin.com/in/yazan-aljamal-0755aa63/" class="icon fa-linkedin"><span
                                    class="label">LinedIn</span></a></li>
                        <!-- <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li> -->
                        <li><a href="https://github.com/samahthwib" class="icon fa-github"><span
                                    class="label">Github</span></a>
                        </li>
                        <!-- <li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li> -->
                        <!-- <li><a href="#" class="icon fa-envelope"><span class="label">Email</span></a></li> -->
                    </ul>

                </div>
            </section>

        </section>

    </main>
    <footer>
        <%- include('../layout/footer') %>

    </footer>
    <%- include('../layout/js-links') %>
    <script>
        AOS.init();
    </script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

</body>

</html>