<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/meals.css">
    <%- include('../layout/head') %>
    <title>Meals</title>
</head>

<body>
    <%- include('../layout/header') %>
    <main>
        <div class="choseDite">
            <h4 id="choseH4">Plaese Choese Your Dite:</h4><br>
            <label class="labalDite" for="">Vegan</label> <input class="redioDite" type="radio" name="Vegan" id=""><br>
            <label class="labalDite" for="">Atkins</label> <input class="redioDite"  type="radio" name="Atkins" id=""><br>
            <label class="labalDite" for="">The Zone</label> <input class="redioDite" type="radio" name="The Zone" id=""><br>
            <label class="labalDite" for="">Ketogenic</label> <input class="redioDite" type="radio" name="Ketogenic" id=""><br>
            <label class="labalDite" for="">Vegetarian</label> <input class="redioDite" type="radio" name="Vegan" id=""><br>

        </div>

        <section class="mealsDet">
            <div class="mealsDiv">
                <img src="/img/ddd.png" alt="" srcset="">
                <h3>Tilte : </h3>
                <h3>Ready in minits : </h3>
            </div>

            <div class="mealsDiv">
                <img src="/img/ddd.png" alt="" srcset="">
                <h3>Tilte : </h3>
                <h3>Ready in minits : </h3>
            </div>
            <div class="mealsDiv">
                <img src="/img/ddd.png" alt="" srcset="">
                <h3>Tilte : </h3>
                <h3>Ready in minits : </h3>
            </div>
        </section>
        <section>
            <div>


            </div>
        </section>




    </main>
    <script src="meals.js"></script>
    <%- include('../layout/footer') %>
</body>

</html>