<footer class="footer">
    <div class="footer-content">
        <div class="footer-section1 about">
            <h1 class="logo-text"><span>Annona</span>&nbsp; Online Dietition</h1>
       

        <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
        <div class="contact">
            <span><i class="fa fa-phone"></i> &nbsp; 123-456-789</span>
            <span><i class="fa fa-envelope"></i> &nbsp; info@annonaonlinedietition.com</span>
        </div>
        <div class="social">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-instagram"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-youtube"></i></a>
        </div>
    </div>
        <div class="footer-section1 map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3387.319914211971!2d35.8663810146408!3d31.897904135594967!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x151ca6e3c8e41335%3A0x38b7f4b7f0dc25d0!2sLuminus%20College!5e0!3m2!1sen!2sjo!4v1587282960933!5m2!1sen!2sjo" width="400" height="300" frameborder="0"  allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        </div>
        <div class="footer-section1 contact-form">
                <h2 class="p5">Take Annona with you</h2>
                <div class="apps" > 
                    <a href=""><img class="img1" src="img/app store.png" alt="app store" >
                    </a>
                  </div>
                  
                  <div class="apps" >
                  <a href=""><img class="img2" src="img/google play.png" alt="google play" >
                  </a>
                  </div>  
        </div>
    </div>

    <div class="footer-bottom">
        &copy; 2020 onlinedietition.com
    </div>

</footer>