<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Online Dietition</title>
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
<link rel="stylesheet" href="style/style.css">

<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="css/animate.min.css">
<link rel="stylesheet" href="css/animate.css">
<link rel="icon" href="https://mobirise.com/extensions/organicamp/assets/images/logo1.jpg" type="image/icon type">
<link rel="stylesheet" href="style/results.css">
<link rel="stylesheet" href="style/search.css">
</head>