<div class="header">

    <ul>
        <img id="logo" src="https://mobirise.com/extensions/organicamp/assets/images/logo1.jpg" alt="logo">
        <li><a href="/"> Home </a></li>
        <li><a href="/info"> Calculator </a></li>
        <li><a href="#About-us"> Contact us </a></li>
        <li><a href="/about-us"> About us </a></li>
    </ul>
</div>